<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Tab 1</a>
	</li>
	<li role="presentation" class="">
		<a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Tab 2</a>
	</li>
</ul>	

<div class="tab-content">
     
    <div role="tabpanel" class="tab-pane active" id="tab1">
        
    </div>

    <div role="tabpanel" class="tab-pane" id="tab2">

    </div>

 </div>